.main-info{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.home-description{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    font-size: 14pt;
}
body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.main{
        flex-grow: 1;   
         display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.site-id{
font-family: "neue-haas-grotesk-display", sans-serif;
font-weight: 700;
font-style: normal;
}
.sub-head-description{
font-family: "neue-haas-grotesk-text", sans-serif;
font-weight: 500;
font-style: normal;
}
.personal-brand{
font-family: "neue-haas-grotesk-text", sans-serif;
font-weight: 500;
font-style: normal;
}
.mini-info{
    font-family: "neue-haas-grotesk-text", sans-serif;
font-weight: 300;
font-style: normal;
}
html{
    background-image: url(images/background-owl.png);
    background-position: right -80px top -10px;
    background-size: cover;
    background-repeat: no-repeat;
}