.main-info{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.home-description{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.main{
        flex-grow: 1;   
         display: flex;
    flex-direction: column;
    justify-content: flex-end;
}