.about-info{
    max-width: 800px;
    margin: auto;
    font-family: "neue-haas-grotesk-text", sans-serif;
font-weight: 300;
font-style: normal;
}
.foot-action{
    display: flex;
    justify-content:space-between;
    align-items: flex-end;
    max-width: 800px;
    margin: auto;
    font-family: "neue-haas-grotesk-text", sans-serif;
font-weight: 300;
font-style: normal;
}
.linked-in{
    background-image: url(images/linkedin_142369.png); background-size: 50px 50px; height: 50px; width: 50px;

}