.about-info{
    max-width: 800px;
    margin: auto;
    font-family: "neue-haas-grotesk-text", sans-serif;
font-weight: 300;
font-style: normal;
}
body{
     background-image: linear-gradient(white, #273c52);
}
