.intro-info{
    flex-grow: 1;
}
.logo-title{
    display: flex;
    flex-grow: 2;
    flex-shrink: 0;
     font-family: "neue-haas-grotesk-text", sans-serif;
font-weight: 500;
font-style: normal;
}
.logo-description{
    flex-shrink: 1;
    padding-left: 20px;
}
.top-info{
        max-width: 1000px;
    margin: auto;
    padding-top: 30px;
    display: flex;
    align-items: center;
}
.images-logos{
    max-width: 1000px;
    margin: auto;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.first-img{
    width: 450px;
    height: 450px;
    flex-shrink: 0;
}
.main-logo{
    width: 450px;
    height: 450px;
    flex-shrink: 0;
    padding-left: 10px;
}
.break {
  flex-basis: 100%;
  height: 0;
}
.vertical-logo{
    width: 350px;
    height: 100px;
}
.inverse-logo{
    width: 350px;
    height: 200px;
    padding-left: 300px;
}
.word-mark{
    width: 250px;
    height: 250px;
    padding-top: 550px;
}
