
.logo-title{
     font-family: "neue-haas-grotesk-text", sans-serif;
font-weight: 700px;
font-style: normal;
margin-left: 20px;
text-align: center;
}
.logo-description{
    padding-left: 20px;
    max-width: 350px;
    font-size: 18px;
}
.top-info{
        max-width: 1000px;
    margin: auto;
    padding-top: 30px;
    display: flex;
    align-items: center;
}
.logo-imgs{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 60%;
    justify-content: space-evenly;
    max-width: 1000px;
    margin: auto;
}
.parallax-container {
      perspective: 1px; /* Defines the 3D viewing perspective */
      transform-style: preserve-3d; /* Enables 3D rendering for children */
      height: 400px; /* Or a fixed height */
      overflow-x: hidden;
      overflow-y: auto; /* Allows scrolling within the container */
      scrollbar-width: none;
 }
  .parallax-layer {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .parallax-background {
      transform: translateZ(-3px) scale(2); /* Pushes back, scales to compensate */
    }

    .parallax-foreground {
      transform: translateZ(0); /* Keeps at original depth */
    }

    .parallax-middle {
      transform: translateZ(-0.5px) scale(1.5); /* Pushes back less than background */
    }
    .left-column{
      display: flex;
      flex-direction: column;
    }
    .right-column{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 200px;
    }
    .right-imgs{
      margin-top: 100px;
    }
    
