.intro-info{
    flex-grow: 1;
}
.logo-title{
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
     font-family: "neue-haas-grotesk-text", sans-serif;
font-weight: 500;
font-style: normal;
background-color: white;
}
.logo-description{
    flex-shrink: 1;
    padding-left: 20px;
}
.top-info{
        max-width: 1000px;
    margin: auto;
    padding-top: 30px;
    display: flex;
    align-items: center;
}
.logo-imgs{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 60%;
    justify-content: space-between;
    max-width: 800px;
    margin: auto;
}
.parallax-container {
      perspective: 1px; /* Defines the 3D viewing perspective */
      transform-style: preserve-3d; /* Enables 3D rendering for children */
      height: 400px; /* Or a fixed height */
      overflow-x: hidden;
      overflow-y: auto; /* Allows scrolling within the container */
      scrollbar-width: none;
 }
  .parallax-layer {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .parallax-background {
      transform: translateZ(-3px) scale(2); /* Pushes back, scales to compensate */
    }

    .parallax-foreground {
      transform: translateZ(0); /* Keeps at original depth */
    }

    .parallax-middle {
      transform: translateZ(-0.5px) scale(1.5); /* Pushes back less than background */
    }