.wrapped{
    margin: 50px 50px 50px 50px;
}
@keyframes slide-in-left {
  from {
    transform: translateX(100%);
    
  }
  to {
    transform: translateX(0); 
  }
}
@keyframes fadeIn {
        0% {
            opacity: 0; /* Start completely transparent */
        }
        50% {
            opacity: 0.5; /* Halfway, 50% visible */
        }
        100% {
            opacity: 1; /* End fully opaque */
        }
    }
.primary-type{
    font-size: 48pt;
    font-family: "abril-display", serif;
    font-weight: 700;
    font-style: normal;
    color: #273c52;
    animation-name: fadeIn; 
        animation-duration: 4s; 
        animation-timing-function: ease-in-out; 
        animation-fill-mode: forwards;
}
.first-filler-text{
    font-family: "abril-display", serif;
    font-style: normal;
    font-size: 18pt;
    width: 400px;
    margin-left: 30px;
    flex-shrink: 0;
}
.secondary-type{
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 36pt;
    color: #7c6c50;
}
.secondary-filler-text{
    font-family: "brandon-grotesque", sans-serif;
    font-style: normal;
    font-size: 18pt;
    width: 400px;
    margin-left: 30px;
    flex-shrink: 0;
}
h2{
    font-size: 36px;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 750;
    font-style: normal;
}
.title-type{
    font-size: 48pt;
}
.top-font{
    display: flex;
    margin-left: 50px;
}
.abcs{
    font-size: 36pt;
    margin-left: 20px;
    font-family: "abril-display", serif; 
}
.abcs-2{
    font-size: 36pt;
    margin-left: 20px;
    font-family: "brandon-grotesque", sans-serif;
}
.showcase{
    flex-direction: column;
}
