.wrapped{
    max-width: 800px;
    margin: auto;
}
@keyframes slide-in-left {
  from {
    transform: translateX(100%);
    
  }
  to {
    transform: translateX(0); 
  }
}
@keyframes fadeIn {
        0% {
            opacity: 0; /* Start completely transparent */
        }
        50% {
            opacity: 0.5; /* Halfway, 50% visible */
        }
        100% {
            opacity: 1; /* End fully opaque */
        }
    }
.primary-type{
    font-size: 100px;
    font-family: "abril-display", serif;
    font-weight: 800;
    font-style: normal;
    color: #273c52;
    animation-name: fadeIn; 
        animation-duration: 4s; 
        animation-timing-function: ease-in-out; 
        animation-fill-mode: forwards;
}
.first-filler-text{
    font-family: "abril-display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}
.secondary-type{
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 48px;
    color: #7c6c50;
}
.secondary-filler-text{
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
}
h2{
    font-size: 36px;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.title-type{
    font-size: 48px;
}
