.wrapped{
    max-width: 800px;
    margin: auto;
}
.primary-type{
    font-size: 100px;
    font-family: "abril-display", serif;
    font-weight: 800;
    font-style: normal;
}
.first-filler-text{
    font-family: "abril-display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}
.secondary-type{
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 48px;
}
.secondary-filler-text{
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
}
h2{
    font-size: 36px;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.title-type{
    font-size: 48px;
}