.research-imgs{
    height: 200px;
    width: 200px;
}
.research-photos{
    display: flex;
    justify-content: space-evenly;
}
.container-1{
    margin: 10px;
}
.second-title{
    display: flex;
    flex-direction: column;
}
.comp-img{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.moodboards{
    display: flex;   
}
