.research-imgs{
    height: 200px;
    width: 200px;
}
.research-photos{
    display: flex;
    justify-content: space-evenly;
}
.container-1{
    margin: 10px;
}
.second-title{
    display: flex;
    flex-direction: column;
}
.comp-img{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}
.moodboards{
    display: flex; 
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
}
