.research-imgs{
    height: 200px;
    width: 200px;
}
.research-photos{
    display: flex;
    justify-content: space-evenly;
}
.container-1{
    margin: 30px;
}
.second-title{
    display: flex;
    flex-direction: column;
}
.comp-img{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}
.moodboards{
    display: flex; 
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
}
.title{
    font-size: 24pt;
    text-align: center;
    font-family: "neue-haas-grotesk-text", sans-serif;
}
.page-title{
    font-size: 36pt;
}
.sub-title{
    font-size: 14pt;
    font-weight: bold;
    display: flex;
    margin-right: 30px;
}
.sub-info{
    display: flex;
    align-items: baseline;    
}
.description{
    width: 650px;
}
.sketches{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}