body{
    margin: 0;
}
.main-header{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.nav-1{
    list-style-type: none;
    display: flex;
}
.item-link{
    text-decoration: none;
    padding: 10px;
    color: black;
}
.item-link{
font-family: "neue-haas-grotesk-text", sans-serif;
font-weight: 500;
font-style: normal;
}
.site-id{
    font-family: "neue-haas-grotesk-display", sans-serif;
font-weight: 700;
font-style: normal;
}
.item-link:hover{
    color: #7c6c50;
}
h1{
    font-family: "neue-haas-grotesk-text", sans-serif;
font-weight: 900;
font-style: normal;
}
p{
    font-family: "neue-haas-grotesk-text", sans-serif;
font-weight: 200;
font-style: normal;
}