
body{
    margin: 0;
}
.main-header{
    display: flex;
    justify-content: space-between;
    align-items: end;
     position: sticky;
    top: 0;
    background-color: white;
    margin: 0px 10px 0px 10px;
}
.nav-1{
    list-style-type: none;
    display: flex;
}
.item-link{
    text-decoration: none;
    padding: 10px;
    color: black;
}
.item-link{
font-family: "neue-haas-grotesk-text", sans-serif;
font-weight: 500;
font-style: normal;
}
.site-id{
    font-family: "neue-haas-grotesk-display", sans-serif;
font-weight: 700;
font-style: normal;
}
.item-link:hover{
    color: #7c6c50;
}
h1{
    font-family: "neue-haas-grotesk-text", sans-serif;
font-weight: 900;
font-style: normal;
}
p{
    font-family: "neue-haas-grotesk-text", sans-serif;
font-weight: 200;
font-style: normal;
}
.linked-in{
    background-image: url(images/linkedin_142369.png); background-size: 50px 50px; height: 50px; width: 50px;

}
.foot-action{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    font-family: "neue-haas-grotesk-text", sans-serif;
font-weight: 300;
font-style: normal;
background-color: #273c52;
}
.crosses{
    width: 90px;
    height: 60px;
}
.citation-link{
    text-decoration: none;
    color: black;
}
.footer-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}